@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem) rotate(180deg) scale(1.3);
            transform: translateY(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem) rotate(180deg) scale(1.3);
            transform: translateY(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem) rotate(180deg) scale(1.3);
            transform: translateY(-50rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem) rotate(180deg) scale(1.3);
            transform: translateY(-50rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(180deg) scale(1.3);
            transform: translateX(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(180deg) scale(1.3);
            transform: translateX(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Piazzolla', serif;
  font-weight: 200;
  color: #fcf8f8;
  background-color: #52575d;
}

body {
  display: block;
  position: absolute;
  width: 100%;
}

.heading__primary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .6rem;
  padding-bottom: 1rem;
  color: black;
}

.heading__secondary {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.heading__tertiary {
  font-size: 2rem;
  letter-spacing: .5rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: black;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.u-center-text {
  text-align: center !important;
}

.v-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.u-margin-bottom-lg {
  margin-bottom: 10rem;
}

.u-margin-bottom-md {
  margin-bottom: 6rem;
}

.u-margin-bottom-sm {
  margin-bottom: 4rem;
}

.u-margin-bottom-v-sm {
  margin-bottom: 2rem;
}

.pd-v-sm {
  padding-top: 1rem;
}

.pd-sm {
  padding-top: 2rem;
}

.pd-md {
  padding-top: 6rem;
}

.pd-lg {
  padding-top: 10rem;
}

.mg-top-huge {
  margin-top: 17rem;
}

.mg-btm-neg-small {
  margin-bottom: -.5rem;
}

.mg-btm-super-sm {
  margin-bottom: .5rem;
}

.mg-btm-v-sm {
  margin-bottom: 1.5rem;
}

.mg-btm-sm {
  margin-bottom: 3rem;
}

.mg-btm-md {
  margin-bottom: 5rem;
}

.mg-btm-lg {
  margin-bottom: 7rem;
}

.mg-btm-hg {
  margin-bottom: 10rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__social .social__link__link:link, .header__social .social__link__link:visited {
  text-decoration: none;
  font-size: 3rem;
}

.header__social .social__logo {
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  font-size: 5rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.header__social .social__logo--facebook {
  color: #edc988;
}

.header__social .social__logo--facebook:hover {
  color: #1877f2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__social .social__logo--linkedin {
  color: #edc988;
}

.header__social .social__logo--linkedin:hover {
  color: #007bb5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__social .social__logo--github {
  color: #edc988;
  border-radius: 50px;
}

.header__social .social__logo--github:hover {
  color: #333;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__presentation {
  padding: 1rem;
  right: 5rem;
}

.header__navigation .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__navigation .nav__item {
  list-style: none;
  padding-right: 3rem;
  padding-top: 2rem;
}

.header__navigation .nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.main__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-bottom: 4rem;
}

.main__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-bottom: 4rem;
}

.main__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.skills__img {
  height: 8rem;
  width: auto;
  padding: 0rem 3rem 2rem 3rem;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-filter: sepia(10);
          filter: sepia(10);
}

.skills__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: none;
          filter: none;
}
/*# sourceMappingURL=main.css.map */