@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem) rotate(180deg) scale(1.3);
            transform: translateY(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem) rotate(180deg) scale(1.3);
            transform: translateY(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem) rotate(180deg) scale(1.3);
            transform: translateY(-50rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem) rotate(180deg) scale(1.3);
            transform: translateY(-50rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(180deg) scale(1.3);
            transform: translateX(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(180deg) scale(1.3);
            transform: translateX(10rem) rotate(180deg) scale(1.3);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(-180deg);
            transform: translateX(10rem) rotate(-180deg);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(-180deg);
            transform: translateX(10rem) rotate(-180deg);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Piazzolla', serif;
  font-weight: 200;
  color: #fcf8f8;
  background-color: #52575d;
}

body {
  display: block;
  position: absolute;
  width: 100%;
}

.heading__primary {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .6rem;
  padding-bottom: 1rem;
  color: black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 10rem;
}

.heading__primary--main {
  display: block;
  letter-spacing: 1.2rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.heading__primary--sub {
  display: block;
  font-size: 1.7rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.heading__secondary {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.heading__tertiary {
  font-size: 2rem;
  letter-spacing: .5rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: black;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.background {
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  left: 37rem;
  top: 24.4rem;
}

.background__picture {
  width: 65rem;
}

.background2 {
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  left: 20rem;
  top: 13rem;
}

.background2__mac {
  width: 16rem;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.u-center-text {
  text-align: center !important;
}

.v-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.u-margin-bottom-lg {
  margin-bottom: 10rem;
}

.u-margin-bottom-md {
  margin-bottom: 6rem;
}

.u-margin-bottom-sm {
  margin-bottom: 4rem;
}

.u-margin-bottom-v-sm {
  margin-bottom: 2rem;
}

.pd-v-sm {
  padding-top: 1rem;
}

.pd-sm {
  padding-top: 2rem;
}

.pd-md {
  padding-top: 6rem;
}

.pd-lg {
  padding-top: 10rem;
}

.mg-top-huge {
  margin-top: 17rem;
}

.mg-btm-neg-small {
  margin-bottom: -.5rem;
}

.mg-btm-super-sm {
  margin-bottom: .5rem;
}

.mg-btm-v-sm {
  margin-bottom: 1.5rem;
}

.mg-btm-sm {
  margin-bottom: 3rem;
}

.mg-btm-md {
  margin-bottom: 5rem;
}

.mg-btm-lg {
  margin-bottom: 7rem;
}

.mg-btm-hg {
  margin-bottom: 10rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__social .social__link__link:link, .header__social .social__link__link:visited {
  text-decoration: none;
  font-size: 3rem;
}

.header__social .social__logo {
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  font-size: 5rem;
  padding-left: 7rem;
  padding-top: 1rem;
}

.header__social .social__logo--facebook {
  color: #edc988;
}

.header__social .social__logo--facebook:hover {
  color: #1877f2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__social .social__logo--linkedin {
  color: #edc988;
}

.header__social .social__logo--linkedin:hover {
  color: #007bb5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__social .social__logo--github {
  color: #edc988;
  border-radius: 50px;
}

.header__social .social__logo--github:hover {
  color: #333;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__presentation {
  padding: 1rem;
  right: 5rem;
}

.header__navigation .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__navigation .nav__item {
  list-style: none;
  padding-right: 3rem;
  padding-top: 2rem;
}

.header__navigation .nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.presentation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
  top: 3rem;
}

.presentation__span {
  color: black;
  text-transform: uppercase;
  font-size: 3rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__main {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  bottom: 0rem;
  background-color: #2a2929;
}

.footer__img {
  height: 4rem;
  width: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-filter: sepia(10);
          filter: sepia(10);
}

.footer__img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-filter: none;
          filter: none;
}
/*# sourceMappingURL=main.css.map */