.footer {
  display: flex;
  flex-direction: row;
  // background-color: black;

  &__main {
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    margin-top: 2rem;
    padding:1rem;
    bottom:0rem;
    background-color: $color-footer;
  }

  &__item {

  }

  &__img {
    height: 3rem;
    width: auto;
    // border-radius: 50px;
    transition: .5s ease;
    filter: grayscale(100%);
  
    &:hover {
      transform: scale(1.4);
      // filter: none;
      filter:drop-shadow(0rem 0.01rem 0rem white);
    }
  }
}