.header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  &__social{

    &--flex {
      display:flex;
      list-style: none;
    }
    
    &--item {

    }

    .social__link {
      &__link:link,
      &__link:visited {
          text-decoration: none;
          font-size: 3rem;
      }
    }

    .social__logo {
      transition: all .7s ease;
      font-size :3rem;
      padding-left: 7rem;
      padding-top: 2rem;

      &--facebook {
        color: $color-logo;
        &:hover {
            color:#1877f2;
            transform: scale(1.5);
            // transform: translateX(-.1rem);
        }
      }

      &--linkedin {
        color: $color-logo;
        &:hover {
          color:#007bb5;
          transform: scale(1.5);
          // transform: translateX(-.1rem);
      }
      }

      &--github {
        color: $color-logo;
        &:hover {
          color: #333;
          transform: scale(1.5);
          // transform: translateX(-.1rem);
        }
      }
    }
  }
  
  &__presentation {
    padding: 1rem;
    right: 5rem;
  }

  &__navigation {
    

    .nav__list {
      display: flex;
      flex-direction: row;
    }

    .nav__item {
      list-style: none;
      padding-top:2rem;
      padding-right: 3rem;
      &:not(:last-child) {
        padding-right: 5rem;
      }
    }

    .nav__link {
      text-decoration: none;
      font-size: 2rem;
      color: black;
      transition: .8s ease;

      &:hover {
        font-size: 2.5rem;
      }
    }
  }
}


/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
