.header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;

  &__social{
    
    &--flex {
      display:flex;
      list-style: none;
      
    }
    
    &--item {

    }

    .social__link {
      &__link:link,
      &__link:visited {
          text-decoration: none;
          font-size: 3rem;
      }
    }

    .social__logo {
      transition: all .7s ease;
      font-size: 4.5rem;
      padding-left: 7rem;
      padding-top: 1.5rem;
      

      &--facebook {
        color: $color-logo;
        &:hover {
            color:#1877f2;
            transform: scale(1.3);
            // transform: translateX(-.1rem);
        }
      }

      &--linkedin {
        color: $color-logo;
        &:hover {
          color:#007bb5;
          transform: scale(1.3);
      }
      }

      &--github {
        color: $color-logo;
        &:hover {
          color: #333;
          transform: scale(1.3);
        }
      }
    }
  }
  
  &__presentation {
    padding: 1rem;
    right: 5rem;
  }

  &__navigation {
    

    .nav__list {
      display: flex;
      flex-direction: row;
    }

    .nav__item {
      list-style: none;
      padding-top:.5rem;
      padding-right: 1rem;
      position: relative;
    }

    .nav__link {
      text-decoration: none;
      font-size: 2rem;
      color: black;
    }
  }
}
