.presentation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  top: 3rem;

  &__span {
    color: black;
    text-transform: uppercase;
    font-size: 3rem;
  }
}
