.presentation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  top: 3rem;

  @include respond (tab-port) {
    top: 4.5rem;
  }

  @include respond (phone) {
    top: 1rem;
  }

  @include respond (medium-phone) {
    top: 4rem;
  }

  @include respond (small-phone) {
    top: 8rem;
  }

  @include respond(hyper-small-phone) {
    top: 15rem;
  }

  &__span {
    color: black;
    text-transform: uppercase;
    font-size: 3rem;
  }
}
