$default-font-size:1.6rem;
$color-white: white;
$color-black: black;
$color-primary: rgb(252, 248, 248);

$color-background: #696969;
$color-footer: rgb(23, 23, 23);
// $color-background: #52575d;
// $color-background: #ffd5cd;
// $color-background: #696969;
// $color-black: black;

$color-logo: #dcb770;

$color-button: #696969;


$color-popup: #d0d0d0;