$default-font-size:1.6rem;

// base color
$color-white: white;
$color-black: black;
$color-primary: rgb(252, 248, 248);

// main colors
$color-background: #696969;
$color-footer: rgb(23, 23, 23);

// components colors 
$color-logo: #F39233;
$color-button: #696969;
$color-popup: #d0d0d0;