$default-font-size:1.6rem;
$color-white: white;
$color-black: black;
$color-primary: rgb(252, 248, 248);

$color-background: #52575d;
$color-footer: rgb(42, 41, 41);
// $color-background: #52575d;
// $color-black: black;

$color-logo: #edc988 ;
