.background {
  position:relative;
  object-fit: cover;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  display:flex;
  bottom: 20rem;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  
  &__picture {
    position: absolute;
    object-fit: cover;
    // width:110rem;
    width:78%;
    filter:drop-shadow(.2rem .2rem .2rem black);
  }

  &__video {
    object-fit:cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    filter:blur(2px);
  }
}
