.heading__primary {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .6rem;
    color: black;
    backface-visibility: hidden;
    top:10rem;
    z-index: 2;

    @include respond (medium-phone) {
        font-size: 4rem;
        letter-spacing: .4rem;
    }

    &--main {
        display:block;
        letter-spacing:1.2rem;
        animation-name: appear;
        animation-duration: 1.5s;
        background-color: rgba(white,.2);
        padding: 1rem 2rem 0 1rem;
    }

    &--sub {
        display:block;
        font-size: 2.6rem;
        animation-name: appear;
        animation-duration: 1.5s;
        background-color: rgba(white,.2);
        padding: 1rem 0 2rem 1rem;
    }
}

.heading__secondary {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.heading__tertiary{
    font-size: 2rem;
    letter-spacing: .5rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: black;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: black;

    &__profile{
        font-size:1.7rem;
        color:black;
        text-align: justify;
        padding: 0 3rem 3rem 3rem;
        span {
            color: $color-logo;
            font-weight: 500;
        }

        @include respond (tab-port) {
            font-size: 2rem;
        }
    }
}
