.heading__primary {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: .6rem;
    padding-bottom: 1rem;
}

.heading__secondary {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}
